<html>
    <head>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Adicionar Pessoa</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script>
            function validar(){
                if(document.getElementById("cpfinput").value == ""){
                    document.getElementById("warning").innerHTML = "*Este campo é requerido"
                    document.getElementById("warning").style = "color:red"
                    document.getElementById("cpfinput").style = "color:red"
                    document.getElementById("cpfinput").style = "border-color:red"
                }	else{
                	document.getElementById("warning").innerHTML = ""
                    document.getElementById("cpfinput").style = "border-color:dark"
                }
            }
        </script>
    </head>
    <body>
        <center>
            <h1>Adicionar Pessoa</h1>
            <div class="col-lg-4 my-auto">
                <form>
                    <input type="text" class="form-control" placeholder="CPF" name="cpfinput" id="cpfinput">
                    <br>
                    <input type="text" class="form-control" placeholder="Nome" name="nomeinput" id="nomeinput">
                    <br>
                    <input type="date" class="form-control" placeholder="Data de Nascimento" name="datainput" id="datainput">
                    <br>
                    <select class="form-control" name="sexoSelect" id="sexoSelect"> 
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Outros">Outros</option>
                    </select>
                    <br>
                    <input type="number" class="form-control" placeholder="Salário" name="salarioinput" id="salarioinput">
                    <br>
                    <input type="email" class="form-control" placeholder="Email" name="emailinput" id="emailinput">
                    <br>
                    <input type="text" class="form-control" placeholder="Telefone" name="telinput" id="telinput">
                    <br>
                    <button type="button" onclick="validar()" class="btn btn-primary" name="submit" id="submit">Enviar</button>
                </form>
                <p id="warning"></p>
                <a class="btn btn-danger" name="voltar" id="voltar" href="pessoaMenu.html">Voltar</a>
            </div>
        </center>
    </body>
</html>