<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Adicionar Vacina</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script>
            function validar(){
                if(document.getElementById("codigoinput").value == ""){
                    document.getElementById("warningVacina").innerHTML = "*Este campo é requerido"
                    document.getElementById("warningVacina").style = "color:red"
                    document.getElementById("codigoinput").style = "color:red"
                    document.getElementById("codigoinput").style = "border-color:red"
                }	else{
                	document.getElementById("warningVacina").innerHTML = ""
                    document.getElementById("codigoinput").style = "border-color:dark"
                }
            }
        </script>
    </head>
    <body>
        <center>
            <h1>Adicionar Vacina</h1>
            <div class="col-lg-4 my-auto">
                <form>
                    <input type="text" class="form-control" placeholder="Código" name="codigoinput" id="codigoinput">
                    <br>
                    <input type="text" class="form-control" placeholder="Nome" name="nomeinput" id="nomeinput">
                    <br>
                    <input type="number" class="form-control" placeholder="Preço" name="precoinput" id="precoinput">
                    <br>
                    <select class="form-control" name="doencasSelect" id="doencasSelect"> 
                        <option value="Coronavirus">Coronavirus</option>
                        <option value="Gripe">Gripe</option>
                        <option value="FebreAmarela">Febre Amarela</option>
                    </select>
                    <br>
                    <input type="text" class="form-control" placeholder="Idades Dosagens" name="idadeinput" id="idadeinput">
                    <br>
                    <input type="number" class="form-control" placeholder="Tempo de duração (anos)" name="duracaoinput" id="duracaoinput">
                    <br>
                    <button type="button" onclick="validar()" class="btn btn-primary" name="submit" id="submit">Enviar</button>
                </form>
                <p id="warningVacina"></p>
                <a class="btn btn-danger" name="voltar" id="voltar" href="vacinaMenu.html">Voltar</a>
            </div>
        </center>
    </body>
</html>